.header {
    height: 3.5rem;
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #dee2e6;
}

.content {
    height: 22.5rem;
    padding: 0.5rem 1rem;
    overflow: auto;
    display: flex;
    flex-direction: column;
    scrollbar-width: thin;
}

.reactMarkDown {
    padding: 0 !important;
}

.reactMarkDown p {
    margin: 0 !important;
    padding: 0 !important;
}