.wrapper {
    width: 90rem;
    /* width: 100vw; */
    margin: 4rem auto;
    text-align: center;
}

.body-container {
    /* height: 100%; */
}

.img-routing {
    width: 31%;
    height: 27rem;
    object-fit: cover;
    border-radius: 1rem;
}

.img-website {
    /* width: 10%; */
    height: 2rem;
    object-fit: cover;
    border-radius: 1rem;
}

.description-container {
    width: 100%;
    height: 40rem;
    margin-top: 6rem;
    border-radius: 1.7rem;
    display: flex;
    /* border: 1px solid #ced4da; */
}

.content-container {
    /* background: linear-gradient(90deg, rgb(209, 247, 255) 0%, rgb(236, 228, 251) 50%, rgb(217, 212, 251) 100%); */
    background: white;
    width: 60%;
    border-radius: 1.7rem 0 0 1.7rem;
    padding: 5rem 4rem;
}

.content-container-customer {
    background: white;
    width: 60%;
    border-radius: 0 1.7rem 1.7rem 0;
    padding: 5rem 4rem;
}

.img-container {
    width: 40%;
    object-fit: cover;
    border-radius: 0 1.7rem 1.7rem 0;
}

.img-container-customer {
    width: 40%;
    object-fit: cover;
    border-radius: 1.7rem 0 0 1.7rem;
}

.team-card {
    width: 30%;
    /* background: pink; */
    border-radius: 1rem;
    height: 100%;
}

.avatar {
    width: 100%;
    height: 25rem;
    object-fit: cover;
    border-radius: 1rem;
}

.icon-support {
    width: 13%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.title-container,
.similar-website-container,
.description-container,
.team-container,
.get-started-container {
    width: 74%;
    margin: 0 auto;
}

.support-container {
    background: #f0f3f7;
    padding: 6rem 0;
    margin-top: 7rem;
}

.get-started-container {
    background: black;
    color: white;
    height: 20rem;
    margin-top: 7rem;
    border-radius: 1.5rem;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.get-started-header {
    font-size: 3.5rem;
    font-weight: 700;
    background: -webkit-linear-gradient(45deg, rgb(114, 229, 255) 20%, rgb(191, 163, 247) 50%, rgb(153, 140, 254) 60%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.for-manager-container {
    padding: 0.5rem 1.5rem;
    background: white;
    display: flex;
    width: max-content;
    border-radius: 2rem;
}

.for-manager-header {
    font-size: 1rem;
    font-weight: 700;
    background: -webkit-linear-gradient(45deg, rgb(2, 157, 229) 20%, rgb(104, 84, 253) 60%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.for-customer-container {
    padding: 0.5rem 1.5rem;
    background: linear-gradient(90deg, rgb(193, 244, 254) 0%, rgb(236, 228, 251) 50%, rgb(202, 195, 253) 100%);
    display: flex;
    width: max-content;
    border-radius: 2rem;
}

.for-customer-header {
    font-size: 1rem;
    font-weight: 700;
    color: #352f93;
}

.for-top-title-header {
    font-size: 1.5rem;
    font-weight: 700;
    background: -webkit-linear-gradient(45deg, rgb(2, 157, 229) 35%, rgb(116, 97, 255) 50%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-top: 10rem;
}
